name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Build bui
        run: python build.py

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: bui
          generate_release_notes: true
